<form action="/upload" enctype="multipart/form-data" method="post">
  <div>
    <label>File:</label>
    <input type="file" name="file" /><br />
  </div>
  <div>
    <input type="submit" value="Upload" />
  </div>
</form>
